<div>
  Nombre: {{article.name}} <br>
  Precio: ${{article.price}}
</div>
<div>
  <a routerLink="article/{{article.id}}">
    <i class="fas fa-angle-right fa-2x" ></i>
  </a>
  <app-confirmation [object]="article" [service]="service"></app-confirmation>
</div>
