<div class="row">
  <div class="col-12">
    <div class="card">
      <img class="card-img-top" src="{{article.image_url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{article.name}}</h5>
        <p class="card-text">{{article.price}}</p>
        <div class="btn-group" role="group" aria-label="Basic example">
          <div *ngFor="let article of service.articles">
            <button class="btn btn-secondary" routerLink="/article/{{article.id}}">
              {{article.id}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
