<div *ngIf="is_confirming">
  <button type="button" class="btn btn-success" (click)="confirm()">
    Aceptar
  </button>
  <button type="button" class="btn btn-danger" (click)="is_confirming = false">
    Cancelar
  </button>
</div>
<div *ngIf="!is_confirming">
  <button type="button" class="btn btn-danger" (click)="is_confirming = true">
    <i class="fas fa-trash-alt"></i>
  </button>
</div>
